{
  "meta_title": "{{ product_data.get('title','')[:60]|replace('\\n',' ') }}",
  "meta_description": "{{ clean_html(product_data.get('body_html',''))[:155]|replace('\\n',' ') }}",
  "seo_keywords": []
}
