{
  "optimized_title": "{{ product_data.get('title','')[:80]|replace('\\n',' ') }}",
  "optimized_description": "{{ clean_html(product_data.get('body_html',''))[:800]|replace('\\n',' ') }}",
  "content_score": 0.0
}
